<ion-header>
  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>  
  Prueba registro con facebook.
  <button (click)="loginFacebook()">Login con facebook</button>
  <!-- <button [navPush]="nextPage">Boton</button> -->
</ion-content>